/* Google web fonts 'Open Sans' (italic and normal) and 'Boogaloo' */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Boogaloo);

/* reset CSS file to reset browser default styling to a consistent starting point */
@import url(reset.css);

body {
    background-image: url(../img/texture-light.png);
    background-repeat: repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 10px;
}

.content {
	padding: 10px;
	margin: 10px;
	background-color: #FFF;
	border: 1px solid #DDF;
}

.title {
	font: 'Boogaloo';
	font-size: 36px;
	color: #116189;
}

.motto {
	font-style: '400italic';
	font-size: 120%;
}

.nav a{
	display: inline-block;
}